<%= render "shared/header" %>

<div class='transaction-contents'>
  <div class='transaction-main'>
    <h1 class='transaction-title-text'>
      購入内容の確認
    </h1>
    <%# エラーメッセージの表示 %>
    <%= render 'shared/error_messages', model: @order_address %>
    
    <%# 購入内容の表示 %>
    <div class='buy-item-info'>
      <%= image_tag @item.image, class: "buy-item-img" %>
      <div class='buy-item-right-content'>
        <h2 class='buy-item-text'>
          <%= @item.name %>
        </h2>
        <div class='buy-item-price'>
          <p class="item-price-text">¥ <%= number_with_delimiter(@item.price) %></p>
          <p class="item-price-sub-text"><%= @item.postage.name %></p>
        </div>
      </div>
    </div>
    <%# /購入内容の表示 %>

    <%# 支払額の表示 %>
    <div class='item-payment'>
      <h2 class='item-payment-title'>
        支払金額
      </h2>
      <p class='item-payment-price'>
        ¥ <%= number_with_delimiter(@item.price) %>
      </p>
    </div>
    <%# /支払額の表示 %>

    <%= form_with model: @order_address, url: item_orders_path(@item.id), id: 'charge-form', data: { turbo: false }, novalidate: true do |f| %>
    <%# カード情報の入力 %>
    <div class="credit-card-form">
      <h2 class="info-input-haedline">
        クレジットカード情報入力
      </h2>
      <div class="form-group">
        <div class="form-text-wrap">
          <label class="form-text">カード情報</label>
          <span class="indispensable">必須</span>
        </div>
        <div id="number-form" class="input-default"></div>
        <div class='available-card'>
          <%= image_tag 'card-visa.gif', class: 'card-logo'%>
          <%= image_tag 'card-mastercard.gif', class: 'card-logo'%>
          <%= image_tag 'card-jcb.gif', class: 'card-logo'%>
          <%= image_tag 'card-amex.gif', class: 'card-logo'%>
        </div>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">有効期限</label>
          <span class="indispensable">必須</span>
        </div>
        <div class='input-expiration-date-wrap'>
          <div id="expiry-form" class="input-default"></div>
        </div>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">セキュリティコード</label>
          <span class="indispensable">必須</span>
        </div>
        <div id="cvc-form" class="input-default"></div>
      </div>
    </div>
    <%# /カード情報の入力 %>
    
    <%# 配送先の入力 %>
    <div class='shipping-address-form'>
      <h2 class='info-input-haedline'>
        配送先入力
      </h2>
      <%= render 'shared/shipping_address_form', f: f %>
    </div>
    <%# /配送先の入力 %>
    <div class='buy-btn'>
      <%= f.submit "購入" ,class:"buy-red-btn", id:"button" %>
    </div>
    <% end %>
  </div>
</div>
<%= render "shared/footer" %>
